{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    
{% if user.is_authenticated %}
                                    <!--Add Post -->
    <br><br><form class="add_post" >
        <h3>  {{ user.username }} ~ Post something</h3><hr>
        {% csrf_token %}
        <input class="add_title" type="text" placeholder="title"><br><br>
        <textarea class="add_content" type="text" placeholder="Share Something"></textarea><br><br>
        <input type="submit" value="Add" class="btn btn-primary">
    </form><br><br>

{% endif %}
<div id="post">
</div>
<div id="profile">
</div>
<div id="pagination">
</div>


{% endblock %}


{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}